$red-light: #d82c26;
$red-medium: #df4a41;
$red-dark: #9b2827;
$red-ultra-dark: #d82c26; // This is the most commonly used color.

$red-heading: #f12b15;
$red-admin: #d72c25;

$white-primary: #ffffff;
$black-light: #333333;
$black-dark: #2e1807;

$grey-light: #fafcfd;
$grey-lightBlue: #f4f7fc;
$grey-medium: #EOE8F7;
$grey-darkerBlue: #757a8c;
$grey-dark: #6c7a97;

$blue-light: #45b8ec;
$blue-medium: #1f94cb;
$blue-dark: #6395b1;

$beige-light: #f8f3eb;
$beige-medium: #e9d498;
$beige-dark: #eca533;

$green-light: #6bd82c;
